/* Style Sheet */

img {
  max-width: 100%;
  max-height: 100%;
}

.fit {
  max-width: 100%;
  max-height: 425px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.footer {
  color: rgb(220, 220, 220); 
}